<!DOCTYPE html>
<html>

<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../templates/Menu22.css">

    <meta name="viewport" content="width=device-width">
    <title>BnR</title>
</head>

<body>

<div class="background">
    <header>
            <div class="container">
                <div class="header_inner">
                    <div class="headergrid">
                        <div class="parentNav">
                        <div></div>
                                <a href="" class="header_logo">
                                    <img src="../Other/B&RGroupWebsite/images/logo.png" alt="">
                                </a>
                                <div></div>
                                <a class="header_text">Вернуться на сайт</a>
                                <div></div>
                                <a class="header_text">Связаться с нами</a>
                                <div></div>
                                <a href="javascript:PopUpShow()"> <img src="../BackMain/images/Menu/notificationdown.png" class="notificationdown" id="pop">
                                    </a>
                                   
                                           </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                <div></div>
                                <div class="Nav3"> 
                                    <a href="" class="nav_mainLG">
                                        <span class="nav_mainLG spanEn">en </span>| <span class="nav_mainLG spanRu">ru</span></a></div>
                            <div class="Nav5">
                                <a href=""><img class="nav_mainSIimg" src="../BackMain/images/Menu/Exit.png">
                                    <span class="nav_mainSI">Exit</span></a></div>
                        </div>
                    </div>
                </div>
                </div>
            <hr>
    </header>

    <!-- Tikets -->
    <section>
        <div class="container">
            <div class="grid2">
                <div class="a1"></div>
                <div class="a22">
                    <!-- <img src="../BackMain/images/Menu/border.png" alt="" class="back"> -->
                    <div class="grid3">
                        <div class="a1">
                            <div class="over">
                            <div class="left_men">
                                <div class="prim"><h1 class="CAB">Кабинет</h1> 
                                    <div class="prim1"> 
                                        <img src="../BackMain/images/Menu/inc1.png" alt="" class="prim1img">
                                        <p class="prim1name">Тикеты</p></div>
                                        <div class="prim2">
                                            <img src="../BackMain/images/Menu/inc2.png" alt="" class="prim1img">
                                        <p class="prim1name">Таблица ботов</p>
                                        </div>
                                        <div class="prim3">
                                            <img src="../BackMain/images/Menu/inc3.png" alt="" class="prim1img">
                                        <p class="prim1name">Таблица клиентов</p>
                                        </div>
                                        <div class="prim4">
                                        <img src="../BackMain/images/Menu/inc4.png" alt="" class="prim1img">
                                        <p class="prim1name">Создать нового <br>ММ бота</p>
                                        </div>
                                        <div class="prim5">
                                            <img src="../BackMain/images/Menu/inc4.png" alt="" class="prim1img">
                                        <p class="prim1name">Создать нового <br>бота ликвидности</p>
                                    </div>
                                    
                                </div>
                               
                             
                            </div>
                           </div>
                        </div>
                        <div class="a2">
                            <div class="name"><h1 class="nameT">Таблица ботов</h1></div>
                           <!--  -->
                           <table >
                            <tbody id="color">
                            <tr>
                            <td>Клиент</td>
                            <td>Серв</td>
                            <td>Путь на сервере</td>
                            <td>Биржа</td>
                            <td>Пара</td>
                            <td>Сторона</td>
                            <td>Статус</td>
                            <td>Простой</td>
                            <td>Сообщение</td>
                            <td>On/Off</td>
                            </tr>
                            <tr>
                            <td>{{ .Title }}</td>
                            <td>{{ .Title }}</td>
                            <td>{{ .Title }}</td>
                            <td>{{ .Title }}</td>
                            <td>{{ .Title }}</td>
                            <td>{{ .Title }}</td>
                            <td>{{ .Title }}</td>
                            <td>{{ .Title }}</td>
                            <td>
                                <textarea name="textarea" id="textarea" cols="30" rows="10" disabled resize="vertical">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis est nobis dignissimos, magni obcaecati sunt officiis aperiam eum fugiat. Natus saepe at dicta, nam vitae autem perferendis. Nihil, pariatur consectetur.</textarea>
                            </td>
                            <td>On</td>
                            </tr>
                            <tr>
                            <td>{{ .Username }}</td>
                            <td>{{ .Chatid }}</td>
                            <td>{{ .Version }}</td>
                            <td>{{ .Status }}</td>
                            <td>{{ .Purchase }}</td>
                            <td>{{ .Period }}</td>
                            <td>{{ .Signal_1 }}</td>
                            <td>{{ .Signal_2 }}</td>
                            <td> <textarea name="textarea" id="textarea" cols="30" rows="10" disabled resize="vertical">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis est nobis dignissimos, magni obcaecati sunt officiis aperiam eum fugiat. Natus saepe at dicta, nam vitae autem perferendis. Nihil, pariatur consectetur.</textarea></td>
                            <td>Off</td>
                            </tr>
                            <tr>
                            <td>BOB!</td>
                            <td>BOB!</td>
                            <td>BOB!</td>
                            <td>BOB!</td>
                            <td>BOB!</td>
                            <td>BOB!</td>
                            <td>BOB!</td>
                            <td>BOB!</td>
                            <td> <textarea name="textarea" id="textarea" cols="30" rows="10" disabled resize="vertical">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis est nobis dignissimos, magni obcaecati sunt officiis aperiam eum fugiat. Natus saepe at dicta, nam vitae autem perferendis. Nihil, pariatur consectetur.</textarea></td>
                            <td>&nbsp;</td>
                            </tr>
                            </tbody>
                            </table>
                           <!--  -->
                        </div>
                    </div>
                </div>
                <div class="a1"></div>
            </div>
            
        </div>
    </section>

    <footer> 
    <div class="container">
            
    </div>
</footer>
</div>
</body>

<script src="../node_modules/jquery/dist/jquery.min.js"></script>

<!-- Left menu dropdow -->
<script>
    $(document).ready(function() {
    $('.client1grey').click(function() {
        $('.sub-nav').toggleClass('visible');
    });
});

</script>




<!-- Popup -->
<script>
    $(document).ready(function(){
    PopUpHide();
});
function PopUpShow(){
    $("#popup1").show();
    $('#pop').hide()
}
function PopUpHide(){
    $("#popup1").hide();
    $('#pop').show()
}
</script>


<!-- Random color -->

<script>
    var r = Math.floor(Math.random() * (255 - 0 + 1) + 0);
var g = Math.floor(Math.random() * (255 - 0 + 1) + 0);
var b = Math.floor(Math.random() * (255 - 0 + 1) + 0);
 
var rgbString = r + ", " + g + ", " + b;
document.getElementById('color').style.backgroundColor = 'rgb(' + rgbString + ')';
</script>
</html>